#hostalTitle{
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(250,250,250,0.5);
}

.contenedor{
    width:100%;
    margin:0 auto;
}

#datos{
    width:65%;
    margin:0 auto;
}

.boton{
    width:100%;
}

.celdaBtn{
    text-align: center;
}

.campoModal{
    display:block;
}

.dias{
    text-align: center;
}

.btnReserva{
    background-color: cornflowerblue;
}

.btnSalir{
    background-color: darksalmon;
}